<div class="link_container clearfix">
  <div class="movie_link_box">
    <div class="link_headline">
      <h3>ジャンル</h3>
    </div>
    <div>
      <%= link_to "SF", users_path %>
    </div>
    <div>
      <%= link_to "アクション", users_path %>
    </div>
  </div>
  <div class="movie_link_box">
    <div class="link_headline">
      <h3>公開年</h3>
    </div>
    <div>
      <%= link_to "2018", users_path %>
    </div>
    <div>
      <%= link_to "2017", users_path %>
    </div>
  </div>
  <div class="movie_link_box">
    <div class="link_headline">
      <h3>人気の出演者</h3>
    </div>
    <div>
      <%= link_to "aaaaa", users_path %>
    </div>
    <div>
      <%= link_to "vvvvvv", users_path %>
    </div>
  </div>
  <div class="movie_link_box">
    <div class="link_headline">
      <h3>人気の監督</h3>
    </div>
    <div>
      <%= link_to "qqqqqqqq", users_path %>
    </div>
    <div>
      <%= link_to "qqqqqq", users_path %>
    </div>
  </div>
  <div class="movie_link_box">
    <div class="link_headline">
      <h3>製作国</h3>
    </div>
    <div>
      <%= link_to "日本", users_path %>
    </div>
    <div>
      <%= link_to "アメリカ", users_path %>
    </div>
  </div>
</div>
