<div class="movie_show_container clearfix">
  <div class="movie_content_left">
    <div class="movie_show_image">
      <% if @movie.release_date <= Time.now && @movie.release_end_date >= Time.now %>
      <div class="example_3">
        <p>公開中</p>
        <%= attachment_image_tag @movie, :image, :fill, 300, 400, format: 'jpg', fallback: 'mv.png', :size => '300x400' %>
      </div>
      <% elsif @movie.release_date >= Time.now %>
      <div class="example_4">
        <p> <%= @movie.release_date %> 公開</p>
        <%= attachment_image_tag @movie, :image, :fill, 300, 400, format: 'jpg', fallback: 'mv.png', :size => '300x400' %>
      </div>
      <%  else %>
      <%= attachment_image_tag @movie, :image, :fill, 300, 400, format: 'jpg', fallback: 'mv.png', :size => '300x400' %>
      <% end %>
    </div>
    <div class="clearfix show_movie_count_2">
      <% if user_signed_in? %>
      <% if @movie.favorited_movie_by?(current_user,@movie) %>
      <%= link_to movie_favorite_path(@movie), method: :delete do %>
      <div class="favorite_box_3_delete">
        <i class="fas fa-heart"></i>
        <div><%= @movie.favorite_count %></div>
      </div>
      <% end %>
      <% else %>
      <%= link_to movie_favorites_path(@movie), method: :post do %>
      <div class="favorite_box_3">
        <i class="fas fa-heart"></i>
        <div><%= @movie.favorite_count %></div>
      </div>
      <% end %>
      <% end %>
      <% else %>
      <div class="favorite_box_3">
        <i class="fas fa-heart"></i>
        <div><%= @movie.favorite_count %></div>
      </div>
      <% end %>
      <div class="star_box_2">
        <i class="fas fa-star"></i>
        <div><%= @movie.satr_average %></div>
      </div>
      <% if user_signed_in? %>
      <% if @review.blank? %>
      <%= link_to new_movie_review_path(@movie) do %>
      <div class="review_box_3">
        <i class="fas fa-comments"></i>
        <div><%= @movie.review_count %></div>
      </div>
    </div>
    <% end %>
    <% else %>
    <%= link_to "/movies/#{@movie.id}/reviews/#{@review.id}/edit" do %>
    <div class="review_box_3_edit">
      <i class="fas fa-comments"></i>
      <div><%= @movie.review_count %></div>
    </div>
    <% end %>
  </div>
  <% end %>
  <%else %>
  <div class="review_box_3">
    <i class="fas fa-comments"></i>
    <div><%= @movie.review_count %></div>
  </div>
</div>
<% end %>
</div>
<div class="movie_content_right">
  <div class="movie_text clearfix">
    <div class="clearfix">
      <div class="movie_text_headline">
        <h2><%= @movie.title %> (<%= link_to @movie.release_year.year, release_year_path(@movie.release_year.id) %>年公開の作品)</h2>
      </div>
      <% unless @movie.release_end_date < Time.now %>
      <div class="movie_text_content_1">
        公開年月日: <%= @movie.release_date%>
      </div>
      <div class="movie_text_content_1">
        公開終了年月日: <%= @movie.release_end_date%>
      </div>
      <% end %>
      <div class="movie_text_content_1">
        製作国: <%=link_to  @movie.country.name, country_path(@movie.country.id),class: "text_content_link"%>
      </div>
      <div class="movie_text_content_1">
        ジャンル: <%= link_to @movie.genre.name, genre_path(@movie.genre.id),class: "text_content_link" %>
      </div>
    </div>
    <div class="movie_text_director_content clearfix">
      <p>監督</p>
      <% @directors.each do |director| %>
      <div class="director_box"><%= link_to director.director.name, director_path(director.director.id),class: "text_content_link"%></div>
      <% end %>
    </div>
    <div class="movie_text_cast_content clearfix">
      <p>出演者</p>
      <% @casts.each do |cast| %>
      <div class="cast_box"><%= link_to cast.cast.name, cast_path(cast.cast.id),class: "text_content_link" %></div>
      <% end %>
    </div>
    <div class="movie_text_syory_content">
      <p>ストーリー</p>
      <%= @movie.stroy %>
    </div>
  </div>
</div>
<div class="review_container">
  <h2><%= "#{@movie.title}に投稿されたレビュー一覧" %></h2>
  <% if @review %>
  <div class="review_content">
    <%= render 'users/user_info_2', review:@review %>
    <div class="review_text_box_2">
      <%= render 'movies/star_position', t:@review %>
      <%= render 'reviews/review_text_2', review:@review %>
      <div class="clearfix">
        <%= render 'likes/like_box' ,t:@review  %>
        <%= render 'comments/comment_box' ,t:@review  %>
      </div>
    </div>
  </div>
  <% end %>
  <% @reviews.each do |review| %>
  <div class="review_content">
    <%= render 'users/user_info_2', review:review %>
    <div class="review_text_box_2">
      <%= render 'movies/star_position', t:review %>
      <%= render 'reviews/review_text_2', review:review %>
      <div class="clearfix">
        <%= render 'likes/like_box' ,t:review  %>
        <%= render 'comments/comment_box' ,t:review  %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
