














<div class="top_container">
  <div class="top_content">
    <div class="top_headline">
      <h2>今話題の映画</h2>
    </div>
  <%= render 'movies/swiper_1',movies_1: @topic_1,movies_2: @topic_2,movies_3: @topic_3,movies_4: @topic_4,movies_5: @topic_5 %>

  </div>
  <div class="top_content">
    <div class="top_headline">
      <h2>公開中の映画</h2>
    </div>
    <%= render 'movies/swiper_1',movies_1: @now_1,movies_2: @now_2,movies_3: @now_3,movies_4: @now_4,movies_5: @now_5 %>

  </div>
  <div class="top_content">
    <div class="top_headline">
      <h2>公開予定の映画</h2>
    </div>
    <%= render 'movies/swiper_1',movies_1: @coming_soon_1,movies_2: @coming_soon_2,movies_3: @coming_soon_3,movies_4: @coming_soon_4,movies_5: @coming_soon_5 %>









  </div>
  <div class="top_review_container">
    <div class="top_review_headline">
      <h2>新着レビュー</h2>
    </div>
    <div class="clearfix">
    <% @reviews.each do |review| %>
    <div class="top_review_content clearfix">
    <div class="user_info_review_box_2">
      <div class="clearfix">
        <%= link_to user_path(review.user.id) do %>
        <div class="user_show_image_1">
          <%=  attachment_image_tag review.user, :image, :fill, 100, 100, format: 'jpg', fallback: 'mv.png', :size => '100x100'  %>
        </div>
        <div class="user_show_text_1">
          <div><%= review.user.name %></div>
          <% end %>
          <div class="review_at"><%= date_format(review.created_at) %></div>
        </div>
      </div>
      <div class="review_text_box">
        <div class="star-position">
          <% if review.star == 1 %>
            <div class="star-color">★</div>
          <% elsif review.star == 2 %>
            <div class="star-color">★★</div>
          <% elsif review.star == 3 %>
            <div class="star-color">★★★</div>
          <% elsif review.star == 4 %>
            <div class="star-color">★★★★</div>
          <% elsif review.star == 5 %>
            <div class="star-color">★★★★★</div>
          <% end %>
        </div>
        <% if review.spoiler == true %>
        <div class="container_1 review_text">
        <div class="top">
        </div>
        <label for="topbtn_<%= review.id %>" class="topbtn_<%= review.id %>">このレビューネタバレを含みます ≫</label>
        <input id="topbtn_<%= review.id %>" type="radio" name="oo_<%= review.id %>">
        <div class="btm">
          <div class="review_text">
              <%= review.review %>
                </div>

              </div>
              <br>

              <!--container--></div>
          <% else %>
          <div class="review_text">
            <%= review.review %>
          </div>
        <% end %>
        <% if user_signed_in? %>
        <div class="clearfix">

          <div class="like_box">
            <% if review.favorited_by?(current_user) %>

            <% else %>
            <%= link_to "いいね！", "/movies/#{review.movie.id}/reviews/#{review.id}/likes" , method: :post %>
            <% end %>
            <div class="balloon2-left">
              <P><%= review.like_count %></P>
            </div>
          </div>

          <div class="comment_box">
            <%= link_to "コメントする", "/movies/#{review.movie.id}/reviews/#{review.id}/comments/new"  %>
            <div class="balloon2-left">
            <%= review.comment_count %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="favorite_movie_content_2">
      <div>
        <%= link_to movie_path(review.movie.id) do%>
        <%=  attachment_image_tag review.movie, :image, :fill, 200, 200, format: 'jpg', fallback: 'mv.png', :size => '200x200'  %>
      </div>
      <div class="favorite_movie_title"><h3><%= review.movie.title %></h3></div>
      <% end %>
      <div class="clearfix show_movie_count">
        <div class="favorite_box_2">
          <i class="fas fa-heart"></i>
          <div><%= review.movie.favorite_count %></div>
        </div>
        <div class="star_box">
          <i class="fas fa-star"></i>
          <div><%= review.movie.satr_average %></div>
        </div>
        <div class="review_box_2">
          <i class="fas fa-comments"></i>
          <div><%= review.movie.review_count %></div>
        </div>
      </div>

    </div>
    </div>
    <% end %>
</div>

</div>
</div>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded', function() {
  var swiper = new Swiper('.sample01 .swiper-container_1', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    slidesPerView: 1,
    spaceBetween: 10,
    centeredSlides : true,
    effect: "slide",
    autoplay: '6000',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    loop: true
  });
}, false);
window.addEventListener('DOMContentLoaded', function() {
  var swiper = new Swiper('.sample02 .swiper-container_2', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    slidesPerView: 1,
    spaceBetween: 10,
    centeredSlides : true,
    effect: "slide",
    autoplay: '6000',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    loop: true
  });
}, false);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
