<div class="user_index_container">

    <table border="1"  cellspacing="0" cellpadding="0" align="left" class="user_index_table">
      <tr>
        <th class="user_index_id">ID</th>
        <th class="user_index_name">NAME</th>
        <th class="user_index_image">IMAGE</th>
        <th class="user_index_introduction">INTRODUCTION</th>
        <th class="user_index_link">LINK</th>
      </tr>
      <% @users.each do |user| %>

      <tr>
        <td><%= user.id %></td>
        <td><%= user.name%></td>
        <td>
          <%=  attachment_image_tag user, :image, :fill, 80, 100, format: 'jpg', fallback: 'mv.png', :size => '80x100'  %>
        </td>
        <td class="user_index_introduction"><%= user.introduction %></td>
        <td class="clearfix">
          <div class="show_btn"><%= link_to "編集","/users/#{user.id}/edit",class: "btn btn-primary"  %></div>
          <% if user.delete_flag == false %>
          <div class="destroy_btn"><%= link_to "退会", unsubscribe_user_path(user.id),class: "btn btn-danger", method: :post %></div>
          <% else %>
          <div class="destroy_btn"><%= link_to "復旧", unsubscribe_user_path(user.id),class: "btn btn-warning", method: :post %></div>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
</div>
</div>
