<div class="user_show_container clearfix">
  <%= render 'side_bar' %>
  <div class="user_right_container">
    <div class="user_reviews_box clearfix">
      <div class="user_review_headline">
        <h2>投稿一覧</h2>
      </div>
      <% @reviews.each do |review| %>
      <div class="clearfix">
        <div class="time_line_content">
          <div class="clearfix time_line_user">
            <%= render 'users/user_info', t: review %>
          </div>
          <div class="clearfix time_line_review_box">
            <div class="time_line_image">
              <%= render 'movies/movie_image', t: review %>
              <%= render 'movies/movie_count_1', t: review %>
            </div>
            <div class="time_line_review">
              <p class="time_line_movie_title"><%= review.movie.title %></p>
              <%= render 'movies/star_position', t: review %>
              <%= render 'reviews/review_text', t: review %>
            </div>
          </div>
          <div class="clearfix">
            <%= render 'likes/like_box' ,t: review%>
            <%= render 'comments/comment_box' ,t: review%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
