<div class="user_show_container clearfix">
  <%= render 'side_bar' %>
  <div class="user_right_container">
    <div class="user_reviews_box clearfix">
      <h2>投稿一覧</h2>

      <% @reviews.each do |review| %>

        <div class="user_review_content clearfix">
        <div class="user_info_review_box">
          <div class="clearfix">
            <div class="user_show_image_1">
              <%=  attachment_image_tag review.user, :image, :fill, 100, 100, format: 'jpg', fallback: 'mv.png', :size => '100x100'  %>
            </div>
            <div class="user_show_text_1">
              <div><%= review.user.name %></div>
              <div class="review_at"><%= review.created_at.strftime('%Y/%m/%d/') %></div>
            </div>
          </div>
          <div class="review_text_box">
            <div class="star-position">
              <% if review.star == 1 %>
                <div class="star-color">★</div>
              <% elsif review.star == 2 %>
                <div class="star-color">★★</div>
              <% elsif review.star == 3 %>
                <div class="star-color">★★★</div>
              <% elsif review.star == 4 %>
                <div class="star-color">★★★★</div>
              <% elsif review.star == 5 %>
                <div class="star-color">★★★★★</div>
              <% end %>
            </div>
            <% if review.spoiler == true %>
            <div class="container_1">
            <div class="top">
            </div>
            <label for="topbtn" class="topbtn">このレビューネタバレを含みます ≫</label>
            <input id="topbtn" type="radio" name="oo">
            <div class="btm">
              <div class="review_text">
                  <%= review.review %>
                    </div>
                  <label for="btmbtn" class="btmbtn">≪ 閉じる</label>
                  <input id="btmbtn" type="radio" name="oo">
                  </div>
                  <br>

                  <!--container--></div>
              <% else %>
              <div class="review_text">
                <%= review.review %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="favorite_movie_content_2">
          <div>
            <%= link_to movie_path(review.movie.id) do%>
            <%=  attachment_image_tag review.movie, :image, :fill, 200, 200, format: 'jpg', fallback: 'mv.png', :size => '200x200'  %>
          </div>
          <div class="favorite_movie_title"><h3><%= review.movie.title %></h3></div>
          <% end %>
          <div class="clearfix show_movie_count">
            <div class="favorite_box_2">
              <i class="fas fa-heart"></i>
              <div><%= review.movie.favorite_count %></div>
            </div>
            <div class="star_box">
              <i class="fas fa-star"></i>
              <div><%= review.movie.satr_average %></div>
            </div>
            <div class="review_box_2">
              <i class="fas fa-comments"></i>
              <div><%= review.movie.review_count %></div>
            </div>
          </div>

        </div>
    </div>
  <% end %>
</div>
  </div>
</div>
