<div class="user_show_container clearfix containew">
  <%= render 'side_bar' %>
  <div class="time_line_box">
    <div class="time_line_headline">
      <h2>タイムライン</h2>
    </div>
    <% @time_line.each do |t| %>
    <div class="time_line_content">
      <div class="clearfix time_line_user">
        <%= render 'users/user_info' ,t: t %>
      </div>
      <% if t.has_attribute?(:review) == true %>
      <div class="clearfix time_line_review_box">
        <div class="time_line_image">
          <%= render 'movies/movie_image' ,t: t%>
          <%= render 'movies/movie_count_1' ,t: t%>
        </div>
        <div class="time_line_review_2">
          <%= render 'movies/star_position' ,t: t%>
          <%= render 'reviews/review_text' ,t: t%>
        </div>
      </div>
      <div class="clearfix">
        <%= render 'likes/like_box' ,t: t%>
        <%= render 'comments/comment_box' ,t: t%>
      </div>
      <% else %>
      <div class="clearfix time_line_favorite_box">
        <div class="time_line_image">
          <%= render 'movies/movie_image' ,t: t%>
          <%= render 'movies/movie_count_1' ,t: t%>
        </div>
        <div class="time_line_text"><%= link_to t.movie.title, movie_path(t.movie.id) %>をお気に入り登録しました!</div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
